:root{
    --color-soft-black : rgb(28, 28, 28);

    font-family: lexend, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(black, rgb(55, 37, 55));
    color: rgb(222, 222, 222);
    font-size: 1.2rem;

}
main{
    width: clamp(10rem, 100%, 70rem);
    margin:auto;

}
a{
    color:white;
}