:root{
    --color-soft-black : rgb(28, 28, 28);

    font-family: lexend, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(27, 27, 27), rgb(35, 20, 35));
    color: rgb(247, 247, 247);
    font-size: 1.2rem;

}
main{
    width: clamp(10rem, 100%, 70rem);
    margin:auto;

}
a{
    color:white;
}

@media screen and (max-width: 440px) {
    body{
        font-size:1rem;
    }
}